* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $lighterblack;
  font-size: $font-size-lp;
  line-height: $base-line-height;
  color : $white;
}
ul, nav {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;  
}

.section {
  margin-bottom: 56px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}
 .subtitle {
   font-weight: 500;
   font-size: 1.2em;
   margin-bottom: 2rem;
 }
.icon{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
    padding: .75rem;
    width: 100px;
    height: 100px;
    background-color: $regularblack;
    margin-bottom: 2rem;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  label {
    font-weight: bold;
    margin-bottom: .5rem;
  }
  input {
    outline: none;
    background: none;
    border: 1px solid $darkblue;
    font-size: 1em;
    padding: .5em;
    color: inherit;
    border-radius: 5px;
  }
}