* {
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $lighterblack;
  font-size: $font-size-lp;
  line-height: $base-line-height;
  color : $white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @media screen and(min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-header,
.main-footer {
  display: flex;
  align-items: center;
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer {
  .container {
    @media screen and(min-width: 768px) {
      flex-direction: row;
    }
  }
}

.main-header {
  height: 140px;
}
.main-footer {
  height: 90px;
  background-color: $footer-bc;
}

.main-nav,
.footer-nav {
  a {
    padding: 1rem;
  }
}
.main-nav {
  ul {
    display: flex;
    flex-direction: row;
  }
}

.footer-nav {
  ul {
    display: flex;
    flex-direction: column;
    @media screen and(min-width: 768px){
      flex-direction: row;  
    }
  }
}

.brand-logo {
  display: flex;
  align-items: center;
}
.brand-logo-name {
  margin-left: 1rem;
  font-size: 1.25em;
}