.main-header,
.main-footer {
  display: flex;
  align-items: center;
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer {
  .container {
    @media screen and(min-width: 768px) {
      flex-direction: row;
    }
  }
}

.main-header {
  height: 140px;
}
.main-footer {
  height: 90px;
  background-color: $footer-bc;
}
.main {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.main-nav,
.footer-nav {
  a {
    padding: 1rem;
  }
}
.main-nav {
  ul {
    display: flex;
    flex-direction: row;
  }
}

.footer-nav {
  ul {
    display: flex;
    flex-direction: column;
    @media screen and(min-width: 768px){
      flex-direction: row;  
    }
  }
}

.brand-logo {
  display: flex;
  align-items: center;
}
.brand-logo-name {
  margin-left: 1rem;
  font-size: 1.25em;
}

.home-main-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  flex-direction: column;
  .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
  }
  .lady-image {
    height: 350px;
    background-image: url(../images/landing-page-girl.png);
    flex-grow: 1;
    max-height: 70vh;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem;
    align-self: flex-start;
  }
  @media screen and(min-width: 768px) {
    flex-direction: row;
  }
}

.discover-main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .covers-image {
    margin-top: 2rem;
    height: 30vh;
    width: auto;
  }
  .icon-section {
    display: flex;
    .icon {
      img {
        width: 40px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    .covers-image {
      margin-left: 2rem;
    }
  }
}
.join-main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .join-text {
    font-size: 3.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  .accent-text {
    color: $lighterred;
  }
  .join-form {
    background-color: $regularblack;
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
    padding: 3rem;
    border-radius: 20px; 
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    .join-text {
      align-items: center;
    }
    .join-form {
      width: 50vw;
      max-width: 50%;
      padding: 2rem 4rem;
    }
  }
}
